{% extends 'lessons/base.html' %}



{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
{% if user.is_authenticated %}
	 <br><br><br>
{% else %}
<div class="jumbotron">
  <div class="container">
    <h1>YOGA</h1>
    <p>Welcome to the Yoga lessons schedule!</p>
	<form action="{% url 'register' %}">
		<input type="submit" class="btn btn-primary btn-lg" value="Sign up &raquo">
	</form>
  </div>
</div>
{% endif %}

<div class="container">
	<div class="row">
	{% if lessons %}
		<h3>Upcoming lessons</h3>
		<table class="table table-striped">
			<tr>
				<th>Next lesson</th>
				<th>Class</th>
				<th>Status</th>
				{% if user.is_authenticated %}
				<th></th>
				{% endif %}
			</tr>	
			{% for lesson in lessons %}
			<tr>
				<td title="{{ lesson.current_time|timesince:lesson.date }}">{{ lesson.date | date:"d/m/y, l" }}</td>
				<td> {{ lesson.name }} </td>
				<td>
					{% if lesson.spots_left > 0 %}
					<span class="badge">{{ lesson.spots_left }}</span> spots left
					{% else %}
					No spots left
					{% endif %}
				</td>
				{% if user.is_authenticated %}
				<td>
					{% if user in lesson.student_array %}
					<button type="button" class="btn btn-default btn-xs">Remove</button>
					{% else %}
						{% if lesson.spots_left > 0 %}
						<button type="button" class="btn btn-default btn-xs">Sign up</button>
						{% endif %}
					{% endif %}
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No lessons are available.</p>
	{% endif %}
	</div>
</div>

{% endblock %}
  
