{% extends 'lessons/base.html' %}

{% block content %}
<div class="row">
{% if lessons %}
	<h3>Upcoming lessons</h3>
	<table class="table table-striped">
		<tr>
			<th>Next lesson</th>
			<th>Class</th>
			<th>Status</th>
			{% if user.is_authenticated %}
			<th></th>
			{% endif %}
		</tr>	
		{% for lesson in lessons %}
		<tr>
			<td title="{{ lesson.current_time|timesince:lesson.date }}">{{ lesson.date | date:"d/m/y, l" }}</td>
			<td> {{ lesson.name }} </td>
			<td><span class="badge">{{ lesson.spots_left}}</span> spots left</td>
			{% if user.is_authenticated %}
			<td>
				{% if user in lesson.student_array %}
				<button type="button" class="btn btn-default btn-xs">Remove</button>
				{% else %}
				<button type="button" class="btn btn-default btn-xs">Sign up</button>
				{% endif %}
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No lessons are available.</p>
{% endif %}
</div>

{% endblock %}
  
