{% extends 'lessons/base.html' %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
{% if user.is_authenticated %}
<br><br><br>
{% else %}
<div class="jumbotron">
    <div class="container">
        <h1>YOGA</h1>

        <p>Welcome to the Yoga lessons schedule!</p>

        <form action="{% url 'register' %}">
            <input type="submit" class="btn btn-primary btn-lg" value="Sign up &raquo">
        </form>
    </div>
</div>
{% endif %}

<div class="container">
    {% if messages %}
    <div class="row">
        <div class="col-lg-12">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        {% if user.messages %}
        {% for msg in user.messages %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        {% if lessons %}
        <h3>Upcoming lessons</h3>

        <!--<table class="table table-striped">-->
        <!--<tr>-->
        <!--<th>Sunday</th>-->
        <!--<th>Monday</th>-->
        <!--<th>Tuesday</th>-->
        <!--<th>Wednesday</th>-->
        <!--<th>Thursday</th>-->
        <!--<th>Friday</th>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--{% for lesson in lessons %}-->
        <!--<td> {{ regroup lessons by </td>-->
        <!--{% endfor %}-->
        <!--</tr>-->
        <!--</table>-->


        <table class="table table-striped">
            <tr>
                <th>Next lesson</th>
                <th>Class</th>
                <th>Status</th>
                {% if user.is_authenticated %}
                <th></th>
                {% endif %}
            </tr>
            {% for lesson in lessons %}
            <tr>
                <td title="{{ lesson.current_time|timesince:lesson.date }}">{{ lesson.date | date:"d/m/y, h:i" }}</td>
                <td> {{ lesson.lessonType.name }}</td>
                <td>
                    {% if lesson.spots_left > 0 %}
                    <span class="badge">{{ lesson.spots_left }}</span> spots left
                    {% else %}
                    No spots left
                    {% endif %}
                </td>
                {% if user.is_authenticated %}
                <td>
                    <button class="btn btn-primary lessonDetails" data-toggle="modal" data-target=".bs-example-modal-sm"
                            data-id="{{ lesson.id }}/{{ user.id }}">
                        Lesson details
                    </button>
                    {% if user in lesson.students.all %}
                        <a href="{% url 'remove' lesson.id user.id %}" class="btn btn-default btn-xs" role="button">
                            Remove
                        </a>
                    {% else %}
                        {% if lesson.spots_left > 0 %}
                            <a href="{% url 'signup' lesson.id user.id %}" class="btn btn-default btn-xs" role="button">
                                Sign up
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No lessons are available.</p>
        {% endif %}
    </div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <a href="#" id="removeLesson" class="btn btn-default btn-xs" role="button">Remove</a>
            <a href="#" id="signupLesson" class="btn btn-default btn-xs" role="button">Sign up</a>
        </div>
    </div>
</div>

<script>
    $(function(){
   $(".lessonDetails").click(function(){
        console.log($(this).data('id'));
     $("#removeLesson").attr("href","remove/" + $(this).data('id'));
     $("#signupLesson").attr("href","signup/" + $(this).data('id'));
   });
});


</script>

{% endblock %}
  
